<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitile %></title>
    <link rel="stylesheet" href="/css/style.css"> -->
    <!--<link rel="stylesheet" href="/css/product.css">-->
<%-include('includes/head.ejs')%>
</head>
<body>
    <%-include('includes/nav.ejs')%>

    <main>
        <form action="/admin/add-product" method="post" class="product-form">
            <!-- action & method r importent thing -->
            <div class="form-control">
                <label for="productName">Product Name</label>
                <input type="text" name="productName">
            </div>
            <div class="form-control">
                <label for="imagrUrl">Product Image</label>
                <input type="text" name="imageUrl">
            </div>
            <div class="form-control">
                <label for=" price">Product Price</label>
                <input type="text" name="price">
            </div>
            <div class="form-control">
                <label for="description">description</label>
                <!-- <input type="text" name="description"> -->
                <textarea name="description" type="text",row="5"></textarea>
            </div>
            
            
            <button class="btn"type="submit">Add Product</button>
        </form>

    </main>
  
</body>
</html>

