<%-include('includes/head.ejs')%>  
</head>
<body>
    <%-include('includes/nav.ejs')%>
    <h1>login page</h1>
    <main>
        <form action="/user/login" method="post" class="product-form">
            <!-- action & method r importent thing -->
            <div class="form-control">
                <label for="productName">Email</label>
                <input type="text" name="username">
            </div>
            <div class="form-control">
                <label for="imagrUrl">Password</label>
                <input type="password" name="password">
            </div>
           
            
            <button class="btn"type="submit">Login</button>
        </form>

    </main>
</body>
</html>