<!-- <%-include('includes/head.ejs')%> 
<!-- <link rel="stylesheet" href="css/Product.css" > -->
</head>

<%-include('includes/nav.ejs')%>
<main class="centered">
    <h1><%=produc.productName%></h1>

    
    
</main>  

</body>
</html> -->